<a class="btn btn-primary"  [routerLink]="['/interview']">New Interview</a>

<table class="table">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
                <th scope="col">Remark</th>
                <th scope="col">Candidate</th>
                <th scope="col">Interviewer</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let interview of interviews"> 
                <td>{{ interview.date }}</td>
                <td>{{ interview.status }}</td>
                <td>{{ interview.remark }}</td>
                <td>{{ interview.interviewer }}</td>
                <td>
                    <a href="#" (click)="editRecord(this)">Edit</a>
                    <a href="#" (click)="deleteRecord(this)">Delete</a>
                </td>
            </tr>
        </tbody>
        </table>