<a class="btn btn-primary" [routerLink]="['/candidate']">New Candidate</a>

<table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Mobile</th>
                <th scope="col">Experience</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let candidate of candidates"> 
                <td>{{ candidate.name }}</td>
                <td>{{ candidate.email }}</td>
                <td>{{ candidate.mobile }}</td>
                <td>{{ candidate.experience }}</td>
                <td>{{ candidate.status }}</td>
                <td>
                    <a href="#" (click)="editRecord(this)">Edit</a>
                    <a href="#" (click)="deleteRecord(this)">Delete</a>
                </td>
            </tr>
        </tbody>
        </table>