<div>
    <h2>{{title}}</h2>
    <form #f="ngForm" (ngSubmit)="submit(); f.reset()" >
      <div class="form-group row">  
        <label class="col-sm-2  col-form-label" for="media">Media:</label>
        <div class="col-sm-6">
          <input class="form-control" type="text" id="media" name="media" placeholder="Media" [(ngModel)]="advertisement.media" #media="ngModel" >
        </div>
      </div>
      <div class="form-group row">  
        <label class="col-sm-2  col-form-label" for="from">From Date:</label>
        <div class="col-sm-3 input-group" style="padding-left: 15px;">
          <input class="form-control" id="from" type="text" name="from" [(ngModel)]="advertisement.from" #from="ngModel" >
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
      <div class="form-group row">  
        <label class="col-sm-2  col-form-label" for="to">To Date:</label>
        <div class="col-sm-3 input-group" style="padding-left: 15px;">
          <input class="form-control" a2e-datetimepicker  id="to" type="text" name="to" [(ngModel)]="advertisement.to" #to="ngModel" >
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
      <div class="form-group row">  
        <label class="col-sm-2  col-form-label" for="cost">Cost:</label>
        <div class="col-sm-2">
          <input class="form-control" id="cost" type="text" name="cost" [(ngModel)]="advertisement.cost" #cost="ngModel" >
        </div>
      </div>
      <div class="form-group row">  
          <label class="col-sm-2  col-form-label" for="recruitmentid">Recruitment</label>
          <div class="col-sm-2">
          <select id="recruitmentid" name="recruitmentid" class="form-control" [(ngModel)]="advertisement.recruitmentid" #recruitmentid="ngModel" >
            <option value="0" selected>Select</option>
            <option *ngFor="let r of recruitments" value="{{ r.id }}">{{ r.position }}</option>
          </select>
          </div>
          <!-- <div class="col-sm-2">
            <input class="form-control" id="recruitmentid" type="text" name="recruitmentid" [(ngModel)]="advertisement.recruitmentid" #recruitmentid="ngModel" >
          </div> -->
        </div>
      <br/>
      <input type="submit" class="forsubmit btn btn-primary" value="Save">
    </form>
  </div>
  