<div>
  <h2>{{title}}</h2>
  <form #f="ngForm" (ngSubmit)="submit(); f.reset()">
    <div class="form-group row">
      <label class="col-sm-2  col-form-label" for="position">position:</label>
      <div class="col-sm-6">
        <input class="form-control" id="position" type="text" name="position" placeholder="position" required [(ngModel)]="recruitment.position"
          #position="ngModel">
        <div class="alert alert-danger" *ngIf="position.touched && !position.valid">Please specify the position.</div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2  col-form-label" for="minimumExperience">Min. Experience:</label>
      <div class="col-sm-2">
        <input class="form-control fortextbox" type="text" name="minimumExperience" placeholder="" id="minimumExperience" [(ngModel)]="recruitment.minimumExperience"
          #minimumExperience="ngModel">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2  col-form-label" for="archived">Archived:</label>
      <div class="col-sm-2">
        <input type="checkbox" name="archived" placeholder="" id="archived" [(ngModel)]="recruitment.archived" #archived="ngModel">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2  col-form-label" for="recruited">Recruited:</label>
      <div class="col-sm-2">
        <input type="checkbox" name="recruited" placeholder="" id="recruited" [(ngModel)]="recruitment.recruited" #recruited="ngModel">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="notes">Notes:</label>
      <div class="col-sm-8">
        <textarea type="text" class="form-control fortextbox" name="notes" placeholder="Notes" id="notes" [(ngModel)]="recruitment.notes"
          #notes="ngModel">
        </textarea>
      </div>
    </div>
    <br/>
    <input type="submit" class="forsubmit btn btn-primary" value="Save">
  </form>
</div>