<div>
    <h2>{{title}}</h2>
    <form #f="ngForm" (ngSubmit)="submit(); f.reset()" >
      <div class="form-group row">  
        <label class="col-sm-2  col-form-label" for="namr">name:</label>
        <div class="col-sm-5">
          <input class="form-control" type="text" id="name" name="name" placeholder="Name" [(ngModel)]="candidate.name" #name="ngModel">
        </div>
      </div>
      <div class="form-group row">  
        <label class="col-sm-2  col-form-label" for="name">Email:</label>
        <div class="col-sm-4">
          <input class="form-control" type="text" id="email" name="email" placeholder="Email" [(ngModel)]="candidate.email" #email="ngModel" >
        </div>
      </div>
      <div class="form-group row">  
        <label class="col-sm-2  col-form-label" for="mobile">Mobile:</label>
        <div class="col-sm-2">
          <input class="form-control" type="text" id="mobile" name="mobile" placeholder="Mobile" [(ngModel)]="candidate.mobile" #mobile="ngModel" >
        </div>
      </div>
      <div class="form-group row">  
        <label class="col-sm-2  col-form-label" for="telephone">Telephone:</label>
        <div class="col-sm-2">
          <input class="form-control" type="text" id="telephone" name="telephone" placeholder="Telephone" [(ngModel)]="candidate.telephone" #telephone="ngModel">
        </div>
      </div>
      <div class="form-group row">  
          <label class="col-sm-2  col-form-label" for="yearsOfExperience">Years of Experience:</label>
          <div class="col-sm-1">
            <input class="form-control" type="text" id="yearsOfExperience" name="yearsOfExperience" placeholder="" [(ngModel)]="candidate.yearsOfExperience" #yearsOfExperience="ngModel">
          </div>
        </div>
      <br/>
      <div class="form-group row">  
          <label class="col-sm-2  col-form-label" for="multipleApplications">Multiple Applications:</label>
          <div class="col-sm-2">
            <input class="" type="checkbox" id="multipleApplications" name="multipleApplications" placeholder="" [(ngModel)]="candidate.multipleApplications" #multipleApplications="ngModel" >
          </div>
        </div>
      <br/>
      <div class="form-group row">  
          <label class="col-sm-2  col-form-label" for="appliedDate">Applied Date:</label>          
          <div class="col-sm-2">
            <input class="form-control" type="text" id="appliedDate" name="appliedDate" placeholder="" [(ngModel)]="candidate.appliedDate" #appliedDate="ngModel" >
          </div>
      </div>
      <!-- <div class="form-group row">  
          <label class="col-sm-2  col-form-label" for="appliedPosition">Applied Position:</label>
          <div class="col-sm-2">
            <input class="form-control" type="text" id="appliedPosition" name="appliedPosition" placeholder="" [(ngModel)]="candidate.appliedPosition" #appliedPosition="ngModel" >
          </div>
      </div> -->
      <div class="form-group row">  
          <label class="col-sm-2  col-form-label" for="status">Status:</label>
          <div class="col-sm-2">
            <select id="status" class="form-control" name="status" [(ngModel)]="candidate.status" #status="ngModel">
              <option value=""> Select </option>
              <option value="recruited">Recrited</option>
              <option value="shortListed">Short Listed</option>
            </select>
            </div>
          <!-- <div class="col-sm-2">
            <input class="form-control" type="text" id="status" name="status" placeholder="" [(ngModel)]="candidate.status" #status="ngModel" >
          </div> -->
      </div>
      <div class="form-group row">  
          <label class="col-sm-2  col-form-label" for="archived">Archived:</label>
          <div class="col-sm-2">
            <input class="" type="checkbox" id="archived" name="archived" placeholder="" [(ngModel)]="candidate.archived" #archived="ngModel" >
          </div>
      </div>
      <div class="form-group row">  
          <label class="col-sm-2  col-form-label" for="CVPath">CV:</label>
          <div class="col-sm-2">
            <input class="form-control" type="text" id="CVPath" name="CVPath" placeholder="" [(ngModel)]="candidate.CVPath" #CVPath="ngModel" >
          </div>
      </div>
      <div class="form-group row">  
          <label class="col-sm-2  col-form-label" for="recruitmentId">Recruitment</label>
          <div class="col-sm-2">
            <select id="recruitmentid" class="form-control" name="recruitmentId" [(ngModel)]="candidate.recruitmentId" #recruitmentId="ngModel" >
              <option value="">Select</option>
              <option *ngFor="let r of recruitments" value="{{ r.id }}">{{ r.position }}</option>
            </select>
            </div>
          <!-- <div class="col-sm-2">
            <input class="form-control" type="text" id="recruitmentId" name="recruitmentId" placeholder="" [(ngModel)]="candidate.recruitmentId" #recruitmentId="ngModel" >
          </div> -->
      </div>
      <div class="form-group row">  
          <label class="col-sm-2  col-form-label" for="notes">Notes:</label>
          <div class="col-sm-8">
            <textarea class="form-control" type="text" id="notes" name="notes" placeholder="" [(ngModel)]="candidate.notes" #notes="ngModel" >
              </textarea>
            </div>
      </div>
      <input type="submit" class="forsubmit btn btn-primary" value="Save">
    </form>
  </div>
  