<!-- <p>Import candidates from Google Sheets: </p><button class="btn btn-primary" >Import</button> -->
<div class="container">
    <div class="panel-group">
        <div class="panel panel-default col-sm-3">
            <div class="panel-heading">Import CV</div>
            <div class="panel-body"><button class="btn btn-primary" >Import</button></div>
        </div>
        <div class="panel panel-default col-sm-3">
            <div class="panel-heading">Current Recruitments(pie chart)</div>
            <div class="panel-body"></div>
        </div>
    </div>
</div>