<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/dashboard']">cvms</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/recruitment-list']">
                        <span class='glyphicon glyphicon-th-list'></span> Recruitments
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/candidate-list']">
                        <span class='glyphicon glyphicon-education'></span> Candidates
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/interview-list']">
                        <span class='glyphicon glyphicon-flash'></span> Interviews
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/advertisement-list']">
                        <span class='glyphicon glyphicon-send'></span> Advertisements
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
