<div>
  <h2>{{title}}</h2>
  <form #f="ngForm" (ngSubmit)="submit(); f.reset()">
    <div class="form-group row">
      <label class="col-sm-2  col-form-label" for="date">Interview Date:</label>
<!--       
      <div class='input-group date' id='datetimepicker1'>
          <input type='text' class="form-control" />
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
      </div> -->
      
      <div class="col-sm-3 input-group" style="padding-left: 15px;">
        <input class="form-control" type="text" id="date" name="date" [(ngModel)]="interview.date" #date="ngModel">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2  col-form-label" for="status">Status:</label>
      <div class="col-sm-2">
        <input class="form-control" type="text" id="status" name="status" placeholder="Status" [(ngModel)]="interview.status" #status="ngModel">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2  col-form-label" for="remark">Remark:</label>
      <div class="col-sm-2">
        <input class="form-control" type="text" id="remark" name="remark" placeholder="Remark" [(ngModel)]="interview.remark" #remark="ngModel">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2  col-form-label" for="archived">Archived:</label>
      <div class="col-sm-2">
        <input type="checkbox" id="archived" name="archived" [(ngModel)]="interview.archived" #archived="ngModel">
      </div>
    </div>
    <!-- <div class="form-group row">
      <label class="col-sm-2  col-form-label" for="email">Email:</label>
      <div class="col-sm-2">
        <input class="form-control" type="text" name="email" placeholder="email" [(ngModel)]="interview.email" #email="ngModel">
      </div>
    </div> -->
    <div class="form-group row">
      <label class="col-sm-2  col-form-label" for="interviewer">Interviewer:</label>
      <div class="col-sm-2">
        <select id="recruitmentid" name="interviewer" class="form-control" [(ngModel)]="interview.interviewer" #interviewer="ngModel" >
          <option value="">Select</option>
          <option value="1">Interviewer 1</option>
          <option value="1">Interviewer 2</option>
          <option value="1">Interviewer 3</option>
        </select>
        </div>
      <!-- <div class="col-sm-2">
        <input class="form-control" type="text" name="interviewer" id="interviewer" placeholder="Interviewer" [(ngModel)]="interview.interviewer"
          #interviewer="ngModel">
      </div> -->
    </div>
    <div class="form-group row">
      <label class="col-sm-2  col-form-label" for="recruitmentId">Recruitment</label>
      <div class="col-sm-2">
        <select id="recruitmentid" class="form-control" name="recruitmentId" name="recruitmentId" (change)="onRecruitmentChange()" [(ngModel)]="interview.recruitmentId" #recruitmentId="ngModel" >
          <option value="">Select</option>
          <option *ngFor="let r of recruitments" value="{{ r.id }}">{{ r.position }}</option>
        </select>
        </div>
      <!-- <div class="col-sm-2">
        <input class="form-control" type="text" id="recruitmentId" name="recruitmentId" placeholder="Recruitment Id" [(ngModel)]="interview.recruitmentId"
          #recruitmentId="ngModel">
      </div> -->
    </div>
    <div class="form-group row">
      <label class="col-sm-2  col-form-label" for="candidateId">Candidate</label>
      <div class="col-sm-2">
        <select id="candidateId" name="candidateId" class="form-control" >
          <option value="">Select</option>
          <option value="1">Candidate 1</option>
          <option value="2">Candidate 2</option>
          <option value="3">Candidate 3</option>
        </select>
        </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2  col-form-label" for="notes">Notes:</label>
      <div class="col-sm-8">
        <textarea class="form-control" type="text" id="notes" name="notes" placeholder="Notes" [(ngModel)]="interview.notes" #notes="ngModel">
        </textarea>
      </div>
    </div>
    <input type="submit" class="forsubmit btn btn-primary" value="Save">
  </form>
</div>
<script type="text/javascript">
  $(function () {
      $('#datetimepicker1').datetimepicker();
  });
</script>