<a class="btn btn-primary" [routerLink]="['/recruitment']">New Recruitment</a>

<table class="table">
  <thead>
      <tr>
          <th scope="col">Position</th>
          <th scope="col">Experience</th>
          <th scope="col">Notes</th>
          <th scope="col">Actions</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let recruitment of recruitments"> 
          <td>{{ recruitment.position }}</td>
          <td>{{ recruitment.minimumExperience }}</td>
          <td>{{ recruitment.notes }}</td>
          <td>
              <a href="#" (click)="editRecord(this)">Edit</a>
              <a href="#" (click)="deleteRecord(this)">Delete</a>
          </td>
      </tr>
  </tbody>
  </table>