<a class="btn btn-primary"  [routerLink]="['/advertisement']">New Advertisement</a>

<table class="table">
        <thead>
            <tr>
                <th scope="col">Media</th>
                <th scope="col">From</th>
                <th scope="col">To</th>
                <th scope="col">Cost</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let advertisement of advertisements"> 
                <td>{{ advertisement.media }}</td>
                <td>{{ advertisement.from }}</td>
                <td>{{ advertisement.to }}</td>
                <td>{{ advertisement.cost }}</td>
                <td>
                    <a href="#" (click)="editRecord(this)">Edit</a>
                    <a href="#" (click)="deleteRecord(this)">Delete</a>
                </td>
            </tr>
        </tbody>
        </table>